<% layout('layouts/boilerplate.ejs') %>

    <h1>Items</h1>


    <% for(let item of items){ %>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">
                    <%= item.name %>
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    <%= item.description %>

                </h6>
                <p class="card-text">
                    <%= item.status %>
                </p>
                <div>
                    <a href="/items/<%= item._id %>" class="card-link">View Item</a>

                    <form action="/items/<%=item._id %>?_method=DELETE " method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>

        <% } %>


            <a href="/items/new">Add item</a>