<% layout('layouts/boilerplate.ejs') %>

    <h1>
        <%= item.name %>
    </h1>
    <p>Price: $<%= item.price %>
    </p>
    <p>Description: <%= item.description %>
    </p>
    <p>Status: <%= item.status %>
    </p>

    <a href="/items"> Back to Item</a>
    <a href="/items/<%= item._id %>/edit"> Edit Item</a>

    <form action="/items/<%=item._id %>?_method=DELETE " method="POST">
        <button class="btn btn-danger">Delete</button>
    </form>